input[name=search_terms] {
    width: 25em;
}

.configForm { display: none; }

.plus:hover, .minus:hover {
    cursor: pointer;
    color: yellow;
}

.minus, .plus {
    color: white;
    text-decoration: none;
}

.monster_entry {
    float: left;
    clear: left;
    width: 550px;
}

.monster_entry p { 
    margin: 0px; 
    font-size: 8pt; 
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 { font-family: sans-serif; }

.statblock { border-bottom: thin solid black; }

h4 { 
    float: left;
    width: 550px;
    clear: both;
    background-color: red; 
    color: white;
    border: 2px outset black;
}

form.guise, form.readOnlyGuise { display: inline; }

.guiseInput { display: none; }

.guiseStatic {
    margin: 1px;
}

.guise .guiseStatic {
    border: 1px dotted black;
}

.guise span.guiseStatic:hover {
    background-color: white;
    color: black;
    border: 2px inset black;
    margin: 0px;
}
