/* colors:
 * a87675 purple border
 * 916581 purple bright
 * 5d8059 dark green
 * b9cc8f light green
 * 527476 bluegreen
 * bdbb60 goldish tannish
 * fffdc0 bright yellow
 * fff white
 * 000 black
 */

/* .y1 { background-image: url(/static/y1.png); background-repeat: repeat;
}

.y2 { background-image: url(/static/y2.png); background-repeat: repeat;
}

.x1 { background-image: url(/static/x1.png); background-repeat: repeat;
}

.x1-1 { background-image: url(/static/x1-1.png); background-repeat: repeat;
}

.x1-2 { background-image: url(/static/x1-2.png); background-repeat: repeat;
}

.x2 { background-image: url(/static/x2.png); background-repeat: repeat;
}

.x2-1 { background-image: url(/static/x2-1.png); background-repeat: repeat;
}

.x2-2 { background-image: url(/static/x2-2.png); background-repeat: repeat;
}

.x2-2-1 { background-image: url(/static/x2-2-1.png); background-repeat: repeat;
}

.x2-2-2 { background-image: url(/static/x2-2-2.png); background-repeat: repeat;
}
*/

@import url(/static/layoutWorkspace.css);
@import url(/static/modal.css);

.workspaceTitle {
    font-size: 28pt;
    color: white;
    font-family: "Arial Black";
    padding: 10pt;
}

.messageArea {
    position: absolute; 
    right: 2em; 
    top: 2em; 
    background-color: white;
    width: 30em;
}

.messageArea.contents {
    padding: 6pt; 
}

.messageArea span {
    color: #a87675;
}

a.warmText:hover {
    color: #555;
    background-color: white;
    outline: 2px inset black;
}

.sidebar {
}

.constituentList {
    overflow: auto;
    height: 100%;
}

.constituent {
    width: 192px;
    height: 41px;
    padding: 10px;
}

.constituentName {
    float: left;
    font-size: 11pt;
    padding: 2pt;
    font-family: "Arial Black";
}

.constituentName, .constituentDetail {
    color: white;
}

.constituentDetail {
    font-family: sans-serif;
}

.kind-stencil .constituentName, .kind-stencil .constituentDetail {
    color: black;
}

.kind-encounter .constituentName { 
    font-size: 11pt;
}

.constituentDetail {
    float: left;
    position: relative;
    top: 9pt;
    font-size: x-small;
}

.kind-npc, .kind-monsterGroup { background-image: url(/static/box-concrete.png); }
div.kind-npc:hover, div.kind-monsterGroup:hover { background-image: url(/static/box-concrete-sel.png); }
.kind-encounter { background-image: url(/static/encounter.png); }
div.kind-encounter:hover { background-image: url(/static/encounter-sel.png); }
.kind-stencil { background-image: url(/static/box-stencil.png); }
div.kind-stencil:hover { background-image: url(/static/box-stencil-sel.png); }

.closingX { 
    float: right;
    height: 16px;
    width: 16px;
    background-image: url(/static/closing-x.png);
}

.mainActions {
    float: right;
    padding-right: 7px;
}

.itemView {
}

.itemHeader .constituent {
    float: left;
    position: relative;
    top: -10px;
    left: 20px;
}

.itemMain {
    overflow: auto;
}

.eventBus {
    display: none;
}

/* whichNewThing dialog */ .whichNewThing {
/* whichNewThing dialog */ }
/* whichNewThing dialog */ 
/* whichNewThing dialog */ .wnt-x1, .wnt-x2, .wnt-x3 {
/* whichNewThing dialog */     float: left;
/* whichNewThing dialog */ }
/* whichNewThing dialog */ 
/* whichNewThing dialog */ .wnt-x1, .wnt-x2 {
/* whichNewThing dialog */     line-height: 130px;
/* whichNewThing dialog */ }
/* whichNewThing dialog */ 
/* whichNewThing dialog */ .wnt-x2 { 
/* whichNewThing dialog */     font-size: 114px; 
/* whichNewThing dialog */     line-height: 130px;
/* whichNewThing dialog */     font-family: serif;
/* whichNewThing dialog */ }

.smallImageBox {
    background-image: url(/static/image-frame.png);
    float: right;
    width: 80px;
    height: 84px;
    position: relative;
    top: -10px;
    right: 15px;
    line-height: 84px;
}

.imageBox {
    text-align: center;
}

.imageBox img {
    vertical-align: middle;
}

.personalName, .constituentGroupName {
    float: left;
    font-family: "Arial Black";
    color: white;
    font-size: 11pt;
    line-height: 48px;
    padding-left: 30px;
}

.offstage {
    display: none;
}

.printButton {
    background-image: url(/static/printer.png);
    background-repeat: no-repeat;
    float: right;
    padding-left: 26px;
    padding-right: 10px;
    position: absolute;
    right: 87px;
    /* top: -8px; */
}

.statblockTab {
    background-image: url(/static/report.png);
}

.gridTab {
    background-image: url(/static/table__pencil.png);
}

.tabHandle:hover {
    text-decoration: underline;
}

.tabHandle {
    text-decoration: none;
    background-repeat: no-repeat;
    padding-left: 18px;
}

.monsterGroupTabs .tabHandle {
    margin-right: 15px;
}

.monsterGroupTabs {
    width: 98%;
    margin-bottom: 12px;
    padding-bottom: 2px;
    border-bottom: 2px solid black;
}

.tab {
    display:none;
    width: 98%;
}

.tab.tabSelected {
    display:block;
}




.deleteChecked {
    float: left;
}

.groupieTable {
    clear: left;
    margin-top: 10px;
}

.groupieTable thead {
    font-family: "arial black";
    font-size: 10pt;
}

.groupieTable td {
    border: 0px;
    font-size: 10pt;
}

.groupieTable .blankCell {
    width: 60px;
}

form[name=increaseBy] {
    float: left;
    margin-left: 60px;
}

input[name=increaseBy] {
    width: 7em;
}

.defaultText {
    color: #aaa;
}

.workspaceTitle .defaultText, .constituentGroupName .defaultText {
    color: #d0d0d0;
}

.constituentGroupName {
    font-style: italic;
}

*.checkboxCell:hover {
    outline: thin solid #bdbb60;
}

.modalButtonBox {
    text-align: right;
}

dt {
    font-weight: bold;
    border-top: 2px solid black;
}

dd {
}

.template {
    /* please don't put any rules in here.
     * this class is reserved.
     */
}

.TODO {
    background-color: yellow;
}


.statblock { border-bottom: thin solid black; }

.statblock p {
    margin: 0px;
}

.statblockImage {
    float: right;
    padding: 4px;
    border: thin solid black;
    background-color: white;
    width: 128px;
    height: 128px;
    line-height: 128px;
}

.modalImage { 
    width: 384px;
    height: 384px;
    line-height: 384px;
}

/* SEARCH */ .basicSearch {
/* SEARCH */     padding-left: 1em;
/* SEARCH */ }
/* SEARCH */ 
/* SEARCH */ [name=searchTerms] {
/* SEARCH */    width: 150px;
/* SEARCH */ }
/* SEARCH */ 
/* SEARCH */ [name=searchTerms].defaultText {
/* SEARCH */     text-align: center;
/* SEARCH */ }
/* SEARCH */ 
/* SEARCH */ [name=advancedButton] {
/* SEARCH */      position: absolute;
/* SEARCH */      bottom: 4px;
/* SEARCH */      right: 4px;
/* SEARCH */ }
/* SEARCH */
/* SEARCH */ .hit {
/* SEARCH */     /* display: block; */
/* SEARCH */ }

/* SEARCH */ .prototip {
/* SEARCH */     background: #fffdc0; 
/* SEARCH */ }
/* SEARCH */ .prototip .tipTip {
/* SEARCH */   width: 300px;
/* SEARCH */   padding: 1px;
/* SEARCH */   border: thin solid #bdbb60;
/* SEARCH */   }
/* SEARCH */ .prototip .tipTip .toolbar {
/* SEARCH */   background: #CFE6DC;
/* SEARCH */   font: italic 8pt;
/* SEARCH */   font-weight: bold;
/* SEARCH */   }
/* SEARCH */ .prototip .tipTip .title { padding: 2px; }
/* SEARCH */ .prototip .tipTip .content { 
/* SEARCH */   font-size: 7pt;
/* SEARCH */     padding: 0px; margin: 0px;
/* SEARCH */   }
/* SEARCH */ 
/* SEARCH */ .ttArrow1 {
/* SEARCH */     float:left;
/* SEARCH */     height:100%;
/* SEARCH */ }
/* SEARCH */ 
/* SEARCH */ .ttArrow1-1 {
/* SEARCH */     position:relative;
/* SEARCH */     left: -11px;
/* SEARCH */ }
