/* colors:
 * a87675 purple border
 * 916581 purple bright
 * 5d8059 dark green
 * b9cc8f light green
 * 527476 bluegreen
 * bgbb60 goldish tannish
 * fffdc0 bright yellow
 * fff white
 * 000 black
 */

/* .y1 { background-image: url(/static/y1.png); background-repeat: repeat;
}

.y2 { background-image: url(/static/y2.png); background-repeat: repeat;
}

.x1 { background-image: url(/static/x1.png); background-repeat: repeat;
}

.x1-1 { background-image: url(/static/x1-1.png); background-repeat: repeat;
}

.x1-2 { background-image: url(/static/x1-2.png); background-repeat: repeat;
}

.x2 { background-image: url(/static/x2.png); background-repeat: repeat;
}

.x2-1 { background-image: url(/static/x2-1.png); background-repeat: repeat;
}

.x2-2 { background-image: url(/static/x2-2.png); background-repeat: repeat;
}

.x2-2-1 { background-image: url(/static/x2-2-1.png); background-repeat: repeat;
}

.x2-2-2 { background-image: url(/static/x2-2-2.png); background-repeat: repeat;
}
*/

@import "/static/layoutWorkspace.css";
@import "/static/modal.css";

.workspaceTitle {
    font-size: 28pt;
    color: white;
    font-family: "Arial Black";
    padding: 10pt;
}

a.warmText:hover {
    color: #555;
    background-color: white;
    border: 2px inset black;
}

.sidebar {
}

.constituentList {
    overflow: auto;
    height: 100%;
}

.constituent {
    width: 192px;
    height: 41px;
    padding: 10px;
}

.constituentName {
    float: left;
    font-size: 11pt;
    padding: 2pt;
    font-family: "Arial Black";
}

.constituentName, .constituentDetail {
    color: white;
}

.constituentDetail {
    font-family: sans-serif;
}

.kind-stencil .constituentName, .kind-stencil .constituentDetail {
    color: black;
}

.kind-encounter .constituentName { 
    font-size: 11pt;
}

.constituentDetail {
    float: left;
    position: relative;
    top: 9pt;
    font-size: x-small;
}

.kind-npc, .kind-monsterGroup { background-image: url(/static/box-concrete.png); }
div.kind-npc:hover, div.kind-monsterGroup:hover { background-image: url(/static/box-concrete-sel.png); }
.kind-encounter { background-image: url(/static/encounter.png); }
div.kind-encounter:hover { background-image: url(/static/encounter-sel.png); }
.kind-stencil { background-image: url(/static/box-stencil.png); }
div.kind-stencil:hover { background-image: url(/static/box-stencil-sel.png); }

.closingX { 
    float: right;
    height: 16px;
    width: 16px;
    background-image: url(/static/closing-x.png);
}

/* search */ .basicSearch {
/* search */     padding-left: 1em;
/* search */ }
/* search */ 
/* search */ [name=searchTerms] {
/* search */    width: 150px;
/* search */ }
/* search */ 
/* search */ [name=searchTerms].defaultText {
/* search */     color: #aaa;
/* search */     text-align: center;
/* search */ }
/* search */ 
/* search */ [name=advancedButton] {
/* search */      position: absolute;
/* search */      bottom: 4px;
/* search */      right: 4px;
/* search */ }
/* search */
/* search */ .hit {
/* search */     display: block;
/* search */ }

.mainActions {
    float: right;
    padding-right: 7px;
}

.itemView {
}

.itemHeader .constituent {
    float: left;
    position: relative;
    top: -10px;
    left: 20px;
}

.itemMain {
}

.eventBus {
    display: none;
}

/* whichNewThing dialog */ .whichNewThing {
/* whichNewThing dialog */ }
/* whichNewThing dialog */ 
/* whichNewThing dialog */ .wnt-x1, .wnt-x2, .wnt-x3 {
/* whichNewThing dialog */     float: left;
/* whichNewThing dialog */ }
/* whichNewThing dialog */ 
/* whichNewThing dialog */ .wnt-x1, .wnt-x2 {
/* whichNewThing dialog */     line-height: 130px;
/* whichNewThing dialog */ }
/* whichNewThing dialog */ 
/* whichNewThing dialog */ .wnt-x2 { 
/* whichNewThing dialog */     font-size: 114px; 
/* whichNewThing dialog */     line-height: 130px;
/* whichNewThing dialog */     font-family: serif;
/* whichNewThing dialog */ }

.imageBox {
    background-image: url(/static/image-frame.png);
    float: right;
    width: 80px;
    height: 84px;
    position: relative;
    top: -10px;
}

.personalName, .constituentGroupName {
    float: left;
    font-family: "Arial Black";
    color: white;
    font-size: 11pt;
    line-height: 48px;
    padding-left: 30px;
}

.offstage {
    display: none;
}

.printButton {
    background-image: url(/static/printer.png);
    background-repeat: no-repeat;
    float: right;
    padding-left: 26px;
    padding-right: 10px;
    position: absolute;
    right: 72px;
    top: -8px;
}

.deleteChecked {
    float: left;
}

.monsterGroupTable {
    clear: left;
    margin-top: 10px;
}

.monsterGroupTable thead {
    font-family: "arial black";
    font-size: 10pt;
}

.monsterGroupTable td {
    border: 0px;
    font-size: 10pt;
}

form[name=increaseBy] {
    float: left;
    margin-left: 60px;
}

input[name=increaseBy] {
    width: 7em;
}
